.phraseItem {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}
.phraseItem > .rowID {
  margin-left: 5px;
  margin-right: 5px;
  color: #d69292;
}
.phraseItem > .columnID {
  margin-left: 5px;
  margin-right: 5px;
  color: #aba9f3;
}
.phraseItem > .phraseID {
  margin-left: 5px;
  margin-right: 5px;
  color: #91a500;
}
.phraseItem > .emotion {
  margin-left: 5px;
  margin-right: 5px;
  color: #eaf3a9;
}

.phraseItem > .emotionPositive {
  color: #39da39;
}

.phraseItem > .emotionNegative {
  color: #f58888;
}

.highlightword {
  background-color: #ffeee2;
}
